@font-face {
   font-family: 'mongoose-regular';
   src: url('../assets/fonts/Mongoose-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
   font-style:   normal;
   font-weight:  normal;
 }
@font-face {
   font-family: 'cinetype-regular';
   src: url('../assets/fonts/GT-Cinetype-Regular.woff') format('woff'), /* Modern Browsers */
        url('../assets/fonts/GT-Cinetype-Regular.otf')  format('truetype'); /* Safari, Android, iOS */
   font-style:   normal;
   font-weight:  normal;
 }
// @font-face {
//    font-family: 'Raleway-Regular';
//    src: url('/static/fonts/Raleway-Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//         url('/static/fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'), /* Modern Browsers */
//         url('/static/fonts/Raleway-Regular/Raleway-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
//    font-style:   normal;
//    font-weight:  normal;
//  }
// @font-face {
//    font-family: 'Raleway-SemiBold';
//    src: url('/static/fonts/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//         url('/static/fonts/Raleway-SemiBold/Raleway-SemiBold.woff') format('woff'), /* Modern Browsers */
//         url('/static/fonts/Raleway-SemiBold/Raleway-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
//    font-style:   normal;
//    font-weight:  normal;
//  }
