$dark-pale-pink: #e1d8d5;
$pale-pink: #fbf0ed;

$pale-blue: #f0fafa;
$pale-yellow: #fef8ec;
$orange : #d56e4f;
$dark-pale-yellow: #cc9934;
$dark-pale-blue: #83b6b5;
$grey: #3c3c3c;
$grey-pale: #3c3c3c;
$grey-pale-opacity: rgba(157, 157, 157, 0.5);
$pink-pale: #FCF3F1;
$salmon-hot:  #d56e4f;
$white: #FFFFFF;

$borderLeft: 100px;
